.cap-btn {
  border-radius: 16px;
  background-color: #399EFC;
  padding: 8px 30px;
  margin-top: 35px;
  &:hover {
    background-color: #fb8d35;
  }
  &__text {
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
  }
}