<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"  content="width=device-width">
	<title></title>
	<meta name="description" content=""> 
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="body theme_default">
	<div class="main-wrapper">
		<header class="header">
			<a class="header_logo" href="/">Телфин</a>
			<div class="header-inner">
				<div class="header_notices">
					<a href="#" class="header_notices-item header_notices-item__calls">
						<span class="header-inner_status">32</span>
					</a>
					<a href="#" class="header_notices-item header_notices-item__mail">
						<span class="header-inner_status error"></span>
					</a>
					<a href="#" class="header_notices-item header_notices-item__fax">
						<span class="header-inner_status">5</span>
					</a>
				</div>
				<a href="#" class="header_btn header_btn-favorite">
					<span class="header-inner_status">2</span>
					Избранное
				</a>
				<a href="#" class="header_btn header_btn-stat">Статистика</a>
				<div class="header_btn header_btn-user dropdown">
					<span class="header_btn-user-status"></span>
					<span class="header_btn-user-name dropdown-toggle">Константин</span>
					<div class="dropdown-container">
                        <div class="dropdown-container_inner">
                        	<div class="b-tabs">
                        		<div class="b-tabs_btns">
                        			<button>Сотрудник</button>
                            		<button>Настройки входа</button>
                        		</div>
                        		<div class="b-tabs_inner">
                        			<div class="b-tabs_item">
                        				<div class="form-line">
                        					<label for="employee_name">Имя и&nbsp;фамилия</label>
                        					<input type="text" class="text-input" name="employee_name" id="employee_name">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_num">Внутренний номер (от&nbsp;2 до&nbsp;5 цифр)</label>
                        					<input type="text" class="text-input" name="employee_num" id="employee_num">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_queue">Внутренний номер (от&nbsp;2 до&nbsp;5 цифр)</label>
                        					<select class="select" name="employee_queue" id="employee_queue">
                        						<option>Без очереди</option>
                        					</select>
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_email">Электронная почта (для уведомлений и&nbsp;входа в&nbsp;АТС)</label>
                        					<input type="text" class="text-input" name="employee_email" id="employee_email" value="aksenov@gmail.com">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_comm">Комментарий о&nbsp;сотруднике</label>
                        					<textarea name="employee_comm" id="employee_comm"></textarea>
                        				</div>
                        				<button class="button focus">Сохранить</button>
                        			</div>
                        			<div class="b-tabs_item">
                        				<div class="form-line">
                        					<label for="employee_login">Логин</label>
                        					<input type="text" class="text-input" name="employee_login" id="employee_login" value="aksenov@gmail.com">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_pass">Пароль для входа в&nbsp;АТС</label>
                        					<input type="password" class="text-input" name="employee_pass" id="employee_pass">
                        					<button class="button right">Сменить пароль</button>
                        				</div>
                        				<div class="form-line disabled">
                        					<label for="employee_new-pass">Новый пароль</label>
                        					<input type="password" class="text-input" name="employee_new-pass" id="employee_new-pass" disabled>
                        				</div>
                        				<button class="button focus">Сохранить</button>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
				</div>
				<a href="#" class="header_btn header_btn-settings"></a>
			</div>
		</header>
		<div class="p-main p-disk-space">
			<div>
				<a href="#" class="prev-page fa fa-arrow-left link">Настройки</a>
			</div>
			<div class="b-disk-space">
				<h1>
					Место на диске
				</h1>
				<div class="b-disk-space_top row">
					<div class="row_cell-1">
						<div class="total">
							<p class="h3">
								Свободно 57 Мб из 100 Мб
							</p>
							<a href="#" class="button focus">Купить дополнительное место</a>
						</div>
					</div>
					<div class="row_cell-11">
						<p>
							Дополнительное пространство в&nbsp;облачном хранилище позволит вам надежно хранить записи разговоров, аудиофайлы, сообщения голосовой почты и&nbsp;факсы.
						</p>
					</div>
				</div>
				<div class="disk-space">
					<div class="disk-space_inner">
						<a href="#" class="disk-space_item disk-space_item__mod2 current" style="width: 50%;"><span>Записи звонков</span><span class="disk-space_counter">1534</span></a>
						<a href="#" class="disk-space_item disk-space_item__mod1" style="width: 1%;"><span class="disk-space_counter">12</span></a>
						<a href="#" class="disk-space_item disk-space_item__mod1" style="width: 1%;"><span>Голосовая почта</span><span class="disk-space_counter">78</span></a>
						<div class="disk-space_item disk-space_item__free"><span>Свободное место 57 МБ</span></div>
					</div>
				</div>
				<div class="b-content b-disk-space_info">
					<p class="h3">
						Записи звонков (29 Мб)
					</p>
					<div class="b-disk-space_btns">
						<a href="#" class="button">
							<span class="fa fa-cloud-download"></span>
							Скачать выбранные записи
						</a>
						<button href="#" class="button">
							<span class="fa fa-trash"></span>
							Удалить выбранные записи
						</button>
					</div>
					<p class="h3">
						2015 год
					</p>
					<p>
						23% места на диске <span>(6,67 Мб, 698 записей)</span>
					</p>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-1">
						<label for="disk-space-1">
							<span class="month">Март</span>
							<span class="stat">11% места на диске <span>(3,19 Мб, 350 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-2">
						<label for="disk-space-2">
							<span class="month">Февраль</span>
							<span class="stat">3% места на диске <span>(0,87 Мб, 57 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-3">
						<label for="disk-space-3">
							<span class="month">Январь</span>
							<span class="stat">9% места на диске <span>(2,61 Мб, 271 записей)</span></span>
						</label>
					</div>
					<p class="h3">
						2014 год
					</p>
					<p>
						77% места на диске <span>(22,33 Мб, 836 записей)</span>
					</p>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-4">
						<label for="disk-space-4">
							<span class="month">Декабрь</span>
							<span class="stat">11% места на диске <span>(3,19 Мб, 350 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-5">
						<label for="disk-space-5">
							<span class="month">Ноябрь</span>
							<span class="stat">3% места на диске <span>(0,87 Мб, 57 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-6">
						<label for="disk-space-6">
							<span class="month">Октябрь</span>
							<span class="stat">9% места на диске <span>(2,61 Мб, 271 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-7">
						<label for="disk-space-7">
							<span class="month">Сентябрь</span>
							<span class="stat">11% места на диске <span>(3,19 Мб, 350 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-8">
						<label for="disk-space-8">
							<span class="month">Август</span>
							<span class="stat">3% места на диске <span>(0,87 Мб, 57 записей)</span></span>
						</label>
					</div>
					<div class="b-disk-space_info-line">
						<input type="checkbox" class="checkbox" id="disk-space-9">
						<label for="disk-space-9">
							<span class="month">Июль</span>
							<span class="stat">9% места на диске <span>(2,61 Мб, 271 записей)</span></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<span class="left"><span class="fa fa-copyright"></span> 2015 Виртуальная АТС</span>
			<span class="left">Коммерческий отдел: (8 812) 123-45-67</span>
			<span class="left">Техподдержка: (8 812) 765-43-21</span>
			<a href="http://aidem.ru/" target="_blank" class="right">Design by <img src="/img/logo-aidem.png" alt="Aidem — проектирование и дизайн интерфейсов"></a>
		</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>
	<script src="/js/jsrender.min.js"></script>
	<script src="/js/jquery.jplayer.min.js"></script>
	<script src="/js/jquery.pickmeup.min.js"></script>
	<script src="/js/jquery.formstyler.min.js"></script>
	<!-- Templates -->
	<script id="audioPlayer" type="text/x-jsrender">
		<div id="jp_container_{{:id}}" class="jp-audio">
			<div class="jp-duration-line">
				<span class="jp-current-time"></span>/<span class="jp-duration"></span>
			</div>
			<div class="jp-controll-line">
				<button class="jp-play fa fa-play"></button>
				<button class="jp-pause fa fa-pause"></button>
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-controll-line">
				<button class="jp-mute fa fa-volume-up"></button>
				<button class="jp-unmute fa fa-volume-off"></button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
		</div>
	</script>
	<script id="phoneFunc" type="text/x-jsrender">
		<div class="phone-func">
			<input 
				type="text"
				id="phone-func_name-input-{{:id}}"
				class="phone-func_name-input text-input {{if name}}not-empty{{/if}}"
				value="{{:name}}"
			>
			<div class="phone-func_num {{if missed}}cl_red{{/if}}">{{:phone}}</div>
			{{if name}}
		      	<div class="phone-func_name">{{:name}}</div>
		   	{{/if}}
			<div class="phone-func_btns">
				<button class="link fa fa-phone"></button>
				<button class="link icon fax__blue"></button>
				<button class="link fa fa-list-ul"></button>
				<label for="phone-func_name-input-{{:id}}" class="link fa fa-user-plus"></label>
			</div>
		</div>
	</script>
</body>
</html>