<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"  content="width=device-width">
	<title></title>
	<meta name="description" content=""> 
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="body theme_default">
	<div class="main-wrapper">
		<header class="header">
			<a class="header_logo" href="/">Телфин</a>
			<div class="header-inner">
				<div class="header_notices">
					<a href="#" class="header_notices-item header_notices-item__calls">
						<span class="header-inner_status">32</span>
					</a>
					<a href="#" class="header_notices-item header_notices-item__mail">
						<span class="header-inner_status error"></span>
					</a>
					<a href="#" class="header_notices-item header_notices-item__fax">
						<span class="header-inner_status">5</span>
					</a>
				</div>
				<a href="#" class="header_btn header_btn-favorite">
					<span class="header-inner_status">2</span>
					Избранное
				</a>
				<a href="#" class="header_btn header_btn-stat">Статистика</a>
				<div class="header_btn header_btn-user dropdown">
					<span class="header_btn-user-status"></span>
					<span class="header_btn-user-name dropdown-toggle">Константин</span>
					<div class="dropdown-container">
                        <div class="dropdown-container_inner">
                        	<div class="b-tabs">
                        		<div class="b-tabs_btns">
                        			<button>Сотрудник</button>
                            		<button>Настройки входа</button>
                        		</div>
                        		<div class="b-tabs_inner">
                        			<div class="b-tabs_item">
                        				<div class="form-line">
                        					<label for="employee_name">Имя и&nbsp;фамилия</label>
                        					<input type="text" class="text-input" name="employee_name" id="employee_name">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_num">Внутренний номер (от&nbsp;2 до&nbsp;5 цифр)</label>
                        					<input type="text" class="text-input" name="employee_num" id="employee_num">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_queue">Внутренний номер (от&nbsp;2 до&nbsp;5 цифр)</label>
                        					<select class="select" name="employee_queue" id="employee_queue">
                        						<option>Без очереди</option>
                        					</select>
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_email">Электронная почта (для уведомлений и&nbsp;входа в&nbsp;АТС)</label>
                        					<input type="text" class="text-input" name="employee_email" id="employee_email" value="aksenov@gmail.com">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_comm">Комментарий о&nbsp;сотруднике</label>
                        					<textarea name="employee_comm" id="employee_comm"></textarea>
                        				</div>
                        				<button class="button focus">Сохранить</button>
                        			</div>
                        			<div class="b-tabs_item">
                        				<div class="form-line">
                        					<label for="employee_login">Логин</label>
                        					<input type="text" class="text-input" name="employee_login" id="employee_login" value="aksenov@gmail.com">
                        				</div>
                        				<div class="form-line">
                        					<label for="employee_pass">Пароль для входа в&nbsp;АТС</label>
                        					<input type="password" class="text-input" name="employee_pass" id="employee_pass">
                        					<button class="button right">Сменить пароль</button>
                        				</div>
                        				<div class="form-line disabled">
                        					<label for="employee_new-pass">Новый пароль</label>
                        					<input type="password" class="text-input" name="employee_new-pass" id="employee_new-pass" disabled>
                        				</div>
                        				<button class="button focus">Сохранить</button>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
				</div>
				<a href="#" class="header_btn header_btn-settings"></a>
			</div>
		</header>
		<div class="p-main p-stats">
			<div class="p-stats_header">
				<h1>
					Статистика
				</h1>
				<p>
					Статистика будет полезна вам для повышения эффективности работы персонала и&nbsp;планирования работы компании.
				</p>
			</div>
			<div class="b-content b-stats b-filters">
				<button class="b-filters_switcher">
					<span class="fa fa-expand"></span>
					<span class="fa fa-minus"></span>
				</button>
				<div class="hide-on-compress">
					<h3>
						Фильтры
					</h3>
					<p>
						Создайте ваши персональные настройки, и&nbsp;применяйте их&nbsp;за&nbsp;1 клик. Добавьте фильтр на&nbsp;главную страницу.
					</p>
				</div>
				<div class="stats-switcher">
					<div class="grid_cell-3">
						<a href="#" class="add-new-filter"></a>
					</div>
				</div>
			</div>
			<div class="b-tabs b-stats">
				<div class="b-tabs_btns">
					<button class="b-tabs_btns-item">Номер</button>
					<button class="b-tabs_btns-item">Сотрудники</button>
					<button class="b-tabs_btns-item">Очереди</button>
					<button class="b-tabs_btns-item">Журнал</button>
				</div>
				<div class="b-tabs_inner b-content">
					<div class="b-tabs_item">
						<div class="b-stats_get-btns">
							<button class="link right">
								<span class="fa fa-download" title="Скачать отчет"></span>
							</button>
							<div class="dropdown right">
								<div class="dropdown-toggle link">
									<span class="fa fa-envelope" title="Отправить отчет по Email"></span>
								</div>
								<div class="dropdown-container">
									<div class="dropdown-container_inner">
										<div class="dd-get-stats">
											<div class="row">
												<div class="row_cell-1">
													&nbsp;
												</div>
												<div class="row_cell-11">
													<p class="h3">
														Отправка отчета по&nbsp;EMAIL
													</p>
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_to">Кому</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_to" value="aidem@gmail.com, telphin@yandex.ru">
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_subj">Тема</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_subj" value="Отчет по номеру АТС Телфин за 22.09.2015">
												</div>
											</div>
											<textarea></textarea>
											<div class="clearfix">
												<button class="button focus right">Отправить</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Номер</label>
								<select class="select">
									<option>Все</option>
									<option>+ 7 950 244-70-18</option>
								</select>
							</div>
							<div class="left">
								<div class="period-switcher">
									<input type="radio" name="period-switcher" id="period-switcher_day" checked>
									<label for="period-switcher_day">Сегодня</label>
									<input type="radio" name="period-switcher" id="period-switcher_yesterday">
									<label for="period-switcher_yesterday">Вчера</label>
									<input type="radio" name="period-switcher" id="period-switcher_week">
									<label for="period-switcher_week">Неделя</label>
									<input type="radio" name="period-switcher" id="period-switcher_month">
									<label for="period-switcher_month">Месяц</label>
									<input type="radio" name="period-switcher" id="period-switcher_year">
									<label for="period-switcher_year">Год</label>
								</div>
								<div class="date-picker dropdown">
									<div class="dropdown-toggle"><span class="date-picker_date-text">6 сентября 2014 - 6 сентября 2015</span></div>
									<div class="dropdown-container">
										<div class="dropdown-container_inner">
											<div class="date"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fe fe__stats"></div>
					</div>
					<div class="b-tabs_item">
						<div class="b-stats_get-btns">
							<button class="link right">
								<span class="fa fa-download" title="Скачать отчет"></span>
							</button>
							<div class="dropdown right">
								<div class="dropdown-toggle link">
									<span class="fa fa-envelope" title="Отправить отчет по Email"></span>
								</div>
								<div class="dropdown-container">
									<div class="dropdown-container_inner">
										<div class="dd-get-stats">
											<div class="row">
												<div class="row_cell-1">
													&nbsp;
												</div>
												<div class="row_cell-11">
													<p class="h3">
														Отправка отчета по&nbsp;EMAIL
													</p>
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_to">Кому</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_to" value="aidem@gmail.com, telphin@yandex.ru">
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_subj">Тема</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_subj" value="Отчет по номеру АТС Телфин за 22.09.2015">
												</div>
											</div>
											<textarea></textarea>
											<div class="clearfix">
												<button class="button focus right">Отправить</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Сотрудник</label>
								<select class="select">
									<option>Константинопольский Константин</option>
								</select>
							</div>
							<div class="left">
								<div class="period-switcher">
									<input type="radio" name="period-switcher2" id="period-switcher_day2" checked>
									<label for="period-switcher_day2">Сегодня</label>
									<input type="radio" name="period-switcher2" id="period-switcher_yesterday2">
									<label for="period-switcher_yesterday2">Вчера</label>
									<input type="radio" name="period-switcher2" id="period-switcher_week2">
									<label for="period-switcher_week2">Неделя</label>
									<input type="radio" name="period-switcher2" id="period-switcher_month2">
									<label for="period-switcher_month2">Месяц</label>
									<input type="radio" name="period-switcher2" id="period-switcher_year2">
									<label for="period-switcher_year2">Год</label>
								</div>
								<div class="date-picker dropdown">
									<div class="dropdown-toggle"><span class="date-picker_date-text">6 сентября 2014 - 6 сентября 2015</span></div>
									<div class="dropdown-container">
										<div class="dropdown-container_inner">
											<div class="date"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="b-stats_duration-line left">
								<label>Продолжительность</label>
								<input type="text" class="text-input">
								&mdash;
								<input type="text" class="text-input">
								<select class="select">
									<option>Секунд</option>
									<option>Минут</option>
								</select>
							</div>
						</div>
						<div class="fe fe__stats"></div>
					</div>
					<div class="b-tabs_item">
						<div class="b-stats_get-btns">
							<button class="link right">
								<span class="fa fa-download" title="Скачать отчет"></span>
							</button>
							<div class="dropdown right">
								<div class="dropdown-toggle link">
									<span class="fa fa-envelope" title="Отправить отчет по Email"></span>
								</div>
								<div class="dropdown-container">
									<div class="dropdown-container_inner">
										<div class="dd-get-stats">
											<div class="row">
												<div class="row_cell-1">
													&nbsp;
												</div>
												<div class="row_cell-11">
													<p class="h3">
														Отправка отчета по&nbsp;EMAIL
													</p>
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_to">Кому</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_to" value="aidem@gmail.com, telphin@yandex.ru">
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_subj">Тема</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_subj" value="Отчет по номеру АТС Телфин за 22.09.2015">
												</div>
											</div>
											<textarea></textarea>
											<div class="clearfix">
												<button class="button focus right">Отправить</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Очередь</label>
								<select class="select">
									<option>Отдел продаж</option>
								</select>
							</div>
							<div class="left">
								<div class="period-switcher">
									<input type="radio" name="period-switcher3" id="period-switcher_day3" checked>
									<label for="period-switcher_day3">Сегодня</label>
									<input type="radio" name="period-switcher3" id="period-switcher_yesterday3">
									<label for="period-switcher_yesterday3">Вчера</label>
									<input type="radio" name="period-switcher3" id="period-switcher_week3">
									<label for="period-switcher_week3">Неделя</label>
									<input type="radio" name="period-switcher3" id="period-switcher_month3">
									<label for="period-switcher_month3">Месяц</label>
									<input type="radio" name="period-switcher3" id="period-switcher_year3">
									<label for="period-switcher_year3">Год</label>
								</div>
								<div class="date-picker dropdown">
									<div class="dropdown-toggle"><span class="date-picker_date-text">6 сентября 2014 - 6 сентября 2015</span></div>
									<div class="dropdown-container">
										<div class="dropdown-container_inner">
											<div class="date"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="fe fe__stats"></div>
					</div>
					<div class="b-tabs_item">
						<div class="b-stats_get-btns">
							<button class="link right">
								<span class="fa fa-download" title="Скачать отчет"></span>
							</button>
							<div class="dropdown right">
								<div class="dropdown-toggle link">
									<span class="fa fa-envelope" title="Отправить отчет по Email"></span>
								</div>
								<div class="dropdown-container">
									<div class="dropdown-container_inner">
										<div class="dd-get-stats">
											<div class="row">
												<div class="row_cell-1">
													&nbsp;
												</div>
												<div class="row_cell-11">
													<p class="h3">
														Отправка отчета по&nbsp;EMAIL
													</p>
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_to">Кому</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_to" value="aidem@gmail.com, telphin@yandex.ru">
												</div>
											</div>
											<div class="row">
												<div class="row_cell-1">
													<label for="get-stats_subj">Тема</label>
												</div>
												<div class="row_cell-11">
													<input type="text" class="text-input" id="get-stats_subj" value="Отчет по номеру АТС Телфин за 22.09.2015">
												</div>
											</div>
											<textarea></textarea>
											<div class="clearfix">
												<button class="button focus right">Отправить</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Номер</label>
								<select class="select">
									<option>Все</option>
								</select>
							</div>
							<div class="left">
								<div class="period-switcher">
									<input type="radio" name="period-switcher4" id="period-switcher_day4" checked>
									<label for="period-switcher_day4">Сегодня</label>
									<input type="radio" name="period-switcher4" id="period-switcher_yesterday4">
									<label for="period-switcher_yesterday4">Вчера</label>
									<input type="radio" name="period-switcher4" id="period-switcher_week4">
									<label for="period-switcher_week4">Неделя</label>
									<input type="radio" name="period-switcher4" id="period-switcher_month4">
									<label for="period-switcher_month4">Месяц</label>
									<input type="radio" name="period-switcher4" id="period-switcher_year4">
									<label for="period-switcher_year4">Год</label>
								</div>
								<div class="date-picker dropdown">
									<div class="dropdown-toggle"><span class="date-picker_date-text">6 сентября 2014 - 6 сентября 2015</span></div>
									<div class="dropdown-container">
										<div class="dropdown-container_inner">
											<div class="date"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Сотрудник</label>
								<select class="select">
									<option>Константинопольский Константин</option>
								</select>
							</div>
							<div class="b-stats_duration-line left">
								<label>Продолжительность</label>
								<input type="text" class="text-input">
								&mdash;
								<input type="text" class="text-input">
								<select class="select">
									<option>Секунд</option>
									<option>Минут</option>
								</select>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Очередь</label>
								<select class="select">
									<option>Все</option>
								</select>
							</div>
							<div class="left">
								<label>Добавочный</label>
								<select class="select">
									<option>Все</option>
								</select>
							</div>
						</div>
						<div class="b-stats_line">
							<div class="left">
								<label>Тип вызова</label>
								<select class="select">
									<option>Все</option>
								</select>
							</div>
							<div class="right">
								<button class="button" disabled>
									<span class="fa fa-repeat"></span>
									Сбросить все
								</button>
							</div>
						</div>
						<p class="h3 text-center">
							Журнал звонков
						</p>
						<div class="fe fe__stats"></div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<span class="left"><span class="fa fa-copyright"></span> 2015 Виртуальная АТС</span>
			<span class="left">Коммерческий отдел: (8 812) 123-45-67</span>
			<span class="left">Техподдержка: (8 812) 765-43-21</span>
			<a href="http://aidem.ru/" target="_blank" class="right">Design by <img src="/img/logo-aidem.png" alt="Aidem — проектирование и дизайн интерфейсов"></a>
		</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>
	<script src="/js/jsrender.min.js"></script>
	<script src="/js/jquery.jplayer.min.js"></script>
	<script src="/js/jquery.pickmeup.min.js"></script>
	<script src="/js/jquery.formstyler.min.js"></script>
	<!-- Templates -->
	<script id="audioPlayer" type="text/x-jsrender">
		<div id="jp_container_{{:id}}" class="jp-audio">
			<div class="jp-duration-line">
				<span class="jp-current-time"></span>/<span class="jp-duration"></span>
			</div>
			<div class="jp-controll-line">
				<button class="jp-play fa fa-play"></button>
				<button class="jp-pause fa fa-pause"></button>
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-controll-line">
				<button class="jp-mute fa fa-volume-up"></button>
				<button class="jp-unmute fa fa-volume-off"></button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
		</div>
	</script>
	<script id="phoneFunc" type="text/x-jsrender">
		<div class="phone-func">
			<input 
				type="text"
				id="phone-func_name-input-{{:id}}"
				class="phone-func_name-input text-input {{if name}}not-empty{{/if}}"
				value="{{:name}}"
			>
			<div class="phone-func_num {{if missed}}cl_red{{/if}}">{{:phone}}</div>
			{{if name}}
		      	<div class="phone-func_name">{{:name}}</div>
		   	{{/if}}
			<div class="phone-func_btns">
				<button class="link fa fa-phone"></button>
				<button class="link icon fax__blue"></button>
				<button class="link fa fa-list-ul"></button>
				<label for="phone-func_name-input-{{:id}}" class="link fa fa-user-plus"></label>
			</div>
		</div>
	</script>
</body>
</html>