.p-ats {
	&_top {
		padding: 0 20px;

		.button {
			margin-right: 8px;
		}
	}
}

.b-ats {
	.jq-selectbox__select-text {
		margin-right: 20px;
		max-width: 9999px;
	}
	
	&_block {
		@include font-size(18);
		line-height: 1.5;
		margin-bottom: 50px;

		label {
			&:before {
				top: 3px;
			}
		}

		.black-and-white {
			margin-bottom: 50px;
			width: 500px;
		}

		&__melody {
			margin: -20px 0 50px;
		}

		&__emails {
			margin-bottom: 30px;
		}

		&_radio-selectors {
			p {
				@include font-size(18);
				line-height: 1.5;
			}

			.title {
				margin-bottom: 14px;
			}

			label {
				&:before { top: 4px; }
			}
		}

		&__addit {
			label {
				display: block;
				margin-bottom: 20px;

				&:before { top: 0; }

				p {
					&.addit-hint {
						@include font-size(14);
						color: $cl_grey_1;
						margin-top: 8px;
					}
				}
			}
		}
	}

	&-2 {
		p {
			@include font-size(18);
			line-height: 1.5;
			margin-bottom: 30px;
		}
	}

	&-5 {
		p {
			@include font-size(18);
			line-height: 1.5;
			margin-bottom: 12px;
		}
	}

	.fa-play-circle,
	.fa-upload {
		@include font-size(30);
		position: relative;
		top: -7px;
		margin-left: 10px;
	}

	.logo-uploader {
		.image-place{
			margin-bottom: 10px;

			&_inner {
				@include border-radius(3px);
				width: 120px;
				height: 120px;
				overflow: hidden;
				background-color: $cl_grey_0;
			}
		}

		&_inputs {
			.text-input {
				@include border-radius(3px);
				display: inline-block;
				width: 160px;
				height: 36px;
				line-height: 36px;
				margin-right: 10px;
			}

			.button {
				min-width: 40px;
			}
		}
	}

	.email-list {
		@include font-size(18);
		height: 36px;
		line-height: 36px;
		padding: 0;

		&_input {
			height: 36px;
			top: -1px;
			margin-right: 30px;
			margin-left: 30px;

			.text-input {
				@include font-size(18);
				height: 36px;
				line-height: 36px;
			}

			.fa-plus {
				position: absolute;
				top: 7px;
				margin-right: 6px;

				&:before { vertical-align: middle; }
			}
		}

		&_item {
			.fa-close { top: 5px; }
		}
	}

	.b-phone-view {
		margin-bottom: 50px;

		&_block {
			@include border-radius(4px);
			border: 1px solid $cl_grey_0;
			padding: 36px;
			margin-bottom: 10px;

			p {
				margin-bottom: 0;

				&:last-child { margin: 0; }

				&.h3 { margin-bottom: 26px; }

				label:before { top: 3px; }
			}
		}

		&_text {
			@include font-size(14);
			width: 190px;
			line-height: 1.4;
			margin: 60px 0 0 36px;
			color: $cl_grey_1;
			float: left;
		}

		.fa-arrow-right {
			@include font-size(40);
			margin: 60px 30px;
			color: $cl_grey_0;
		}

		.phone-model {
			width: 289px;
			height: 450px;
			background: url('/img/phone-model.png') no-repeat;

			&_text {
				padding: 60px 40px;

				p {
					@include font-size(14);
					margin: 0;
					text-align: center;
				}
			}
		}
	}
}