$default_font_size: 10;

$ff_caption: 'PT Serif Caption';
$ff_serif: 'PT Serif';
$ff_roboto: 'Roboto';

$cl_grey_0: #ecf3ff;
$cl_grey_1: #9da2ab;
$cl_grey_2: #b6bfcd;
$cl_blue: #399efc;
$cl_blue_2: #2980b9;
$cl_grey_3: #2980b9;
$cl_orange: #e7b60d;
$cl_yellow: #fcec39;
$cl_red: #df4d41;
$cl_purple: #8163ac;
$cl_green: #0abc6f;