.timeline-tooltip {
  color: #B6BFCD;
  position: relative;
  font-size: 12px;
  background-color: #f4f5f7;
  border-radius: 4px;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #e9e9e9;
  &__time,
  &__number,
  &__name {
    color: #000000;
  }
  &:after,
  &:before {
    content: '';
    top: 100%;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    border-color: #f4f5f7 transparent transparent transparent;
    border-width: 6px 5px 3px 5px;
    margin-left: -5px;
  }

  &:before {
    border-color: #e9e9e9 transparent transparent transparent;
    border-width: 7px 6px 0 6px;
  }
  &_daily &__time {
    color: #b6bfcd;
  }
  &_daily &__text,
  &_daily &__time,
  &_daily &__name,
  &_daily &__number {
    display: inline-block;
    margin-right: 4px;
  }
}