.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-close {
  padding: 10px;
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 11px;
    vertical-align: middle;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALBAMAAAC0QAErAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAADQ09fQ09fQ09fQ09fQ09fQ09cAAACa2px/AAAAB3RSTlMAPXp4ebk/KCjlJQAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAA7SURBVAjXYxBgYGBgZFAGkk4MTAYMLAoMQI4TkMvkAmQyMISCCBYlB7ACFSDTgYHJgcEFyFVhAOllAwB2wwO9OuO64gAAAABJRU5ErkJggg==');
  }
  &:hover:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALBAMAAAC0QAErAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACdoqudoqudoqudoqudoqudoqsAAAAIhJR2AAAAB3RSTlMAPXp4ebk/KCjlJQAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAA7SURBVAjXYxBgYGBgZFAGkk4MTAYMLAoMQI4TkMvkAmQyMISCCBYlB7ACFSDTgYHJgcEFyFVhAOllAwB2wwO9OuO64gAAAABJRU5ErkJggg==');
  }
  &_md:before {
    width: 16px;
    height: 15px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPBAMAAAAfXVIcAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJFBMVEUAAAC2v822v822v822v822v822v822v822v822v822v80AAACnga8lAAAAC3RSTlMAKKAGr66wDOaxodbdqpAAAAABYktHRACIBR1IAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAVElEQVQI12MQMmAAAmZFBpNgEMPUmYHZFSjEHAIkQEJAAQaQEFgAJAQWAAq5pYAFGBgq2iE0c+RUiIipM8QsoBawWWAzQEJgM0BCEDOAQlIQ2xcCAJy6DkipfwJOAAAAAElFTkSuQmCC');
  }
  &_md:hover:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPBAMAAAAfXVIcAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJFBMVEUAAACdoqudoqudoqudoqudoqudoqudoqudoqudoqudoqsAAACNpxDeAAAAC3RSTlMAKKAGr66wDOaxodbdqpAAAAABYktHRACIBR1IAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAVElEQVQI12MQMmAAAmZFBpNgEMPUmYHZFSjEHAIkQEJAAQaQEFgAJAQWAAq5pYAFGBgq2iE0c+RUiIipM8QsoBawWWAzQEJgM0BCEDOAQlIQ2xcCAJy6DkipfwJOAAAAAElFTkSuQmCC');
  }
}