.form-list {
  padding: 0;
  margin: 0;
  position: relative;
  &__title,
  &__item {
    padding: 7.5px 40px;
  }
  &__item {
    position: relative;
    @include clearfix();
  }
  &__separate {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }
  &__title {
    padding-top: 15px;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
  }
  &_bordered &__title,
  &_bordered &__item {
    padding: 15px 40px;
  }
  &_sortable &__item {
    background-color: #ffffff;
  }
  &_sortable &__item:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    left: 0;
    top: 0;
    height: 10px;
    padding: 23px 18px;
    background-position: 50%;
    visibility: hidden;
    cursor: move;
    cursor: -webkit-grabbing;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKAgMAAADqYMegAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAAA5nvw5nvwAAACvXNF6AAAAA3RSTlMAw8SGqEb6AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAABJJREFUCNdjCAhgSEhggAAMNgA9bgQheIOs0gAAAABJRU5ErkJggg==');
  }
  &_sortable &__item.sortable-ghost {
    visibility: hidden!important;
  }
  &_sortable &__item.active:before {
    visibility: visible;
  }
  &_sortable-3 &__separate {
    position: absolute;
    z-index: 1;
    top: 33.3%;
  }
  &_sortable-3 &__separate + &__separate {
    top: 66.6%;
  }
  &_sortable-3 &__separate + &__separate + &__separate{
    top: 99.9%;
  }
  &_global {
    padding-bottom: 20px;
  }
}