.efficiency {
  padding-top: 20px;
  width: 1180px;
  &__period {
    margin-top: 40px;
  }
  &__table {
    padding-top: 20px;
  }
  &__offers {
    margin-top: 40px;
  }
  &__stats {
    margin-top: 20px;
  }
}