.table-btn {
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: {
    size: em(14);
    family: $ff_roboto;
  }
  line-height: inherit;
  padding: 0 10px;
  margin: 0 5px;

  &.active {
    color: #399EFC;
  }
  &__text {
    position: relative;
    display: inline-block;
  }
  &:hover &__text:before,
  &.active &__text:before {
    content: '';
    display: block;
    background-color: #399efc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}