.table-dropdown-toggle {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  &_phone {
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    width: inherit;
    visibility: hidden;
  }
  .table-dropdown.open &_phone{
    visibility: visible;
    background-color: #edf4fd;
  }
}