.table-dropdown-menu {
  padding: 10px 0;
  line-height: 1.2;
  width: 140px;
  text-align: center;
  white-space: normal;
  margin: 0;
  background-color: #FFF;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
  &__separate {
    background-color: #F8F8F9;
    height: 1px;
  }

  &__description {
    padding: 10px 10px 0 10px;
    font-size: em(12);
    text-align: left;
    color: #9DA2AB;
  }

  &_phone {
    width: 200px;
  }
}