.table-tooltip-input {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  background-color: #FFF;
  border: 1px solid #ECECEC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 12px;
  opacity: 0.8;
  color: #000000;
  font-size: 12px;
  &::-webkit-input-placeholder {color:#B6BFCD;}
  &::-moz-placeholder          {color:#B6BFCD;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#B6BFCD;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#B6BFCD;}
}