.table-tooltip-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  height: 24px;
  background-color: #399EFC;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font-size: 12px;
  color: #FFF;
  padding: 0 10px;
  margin: 0 10px;
}