.table-tooltip {
  color: #B6BFCD;
  position: relative;
  font-size: 12px;
  background-color: #f4f5f7;
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 100px;
  border: 1px solid #e9e9e9;
  &__text {
    text-align: center;
  }
  &:after,
  &:before {
    content: '';
    top: 100%;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    border-color: #f4f5f7 transparent transparent transparent;
    border-width: 6px 5px 3px 5px;
    margin-left: -5px;
  }

  &:before {
    border-color: #e9e9e9 transparent transparent transparent;
    border-width: 7px 6px 0 6px;
  }

  &_phone {
    min-width: 0;
  }

  &_owner {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
  }
  &_owner:after {
    display: none;
  }
  &_owner:before {
    width: 14px;
    height: 22px;
    border: none;
    top: 50%;
    bottom: auto;
    margin-top: -11px;
    margin-left: auto;
    left: -14px;
    position: absolute;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAWCAMAAADHE10VAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAn1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADg4OCHh4f19fXW1tb9/f0AAAAAAABZWVnx8fH////Hx8f7+/skJCTs7Oz+/v6+vr76+vrx8fH+/v7y8vL+/v7BwcH7+/vv7+/////Kysr7+/tqamry8vLZ2dn9/f2RkZH39/fi4uL///8AAADGmDlsAAAAM3RSTlMAAQIFBwsPBAYJDBAIDhIDEWwisVHmCg0Xlv471Q58+SfAW+9h8SnFgPo/2RicV+kltXITX7SfAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAAJhJREFUGNNt0NcSgjAQBVBIAkkwIjawo2Lvuv//b24KBGfM25nc2RYE9oUhoSyKvbiQSceLqqibOvS4QGV9J6o1GAKKYJDJJB6NAWwRlheT6Qw0MYmaLwAMsYpcrkqwxE+13gDU5GJbQZu7fYsYPhwb2lKnc03b6HJ11GOovLjdzRh+yMdT06/wesPvgh+3PiHG6d/jNKf7AtkUFlB6SLrDAAAAAElFTkSuQmCC');
  }
}