.table-wr {
  &__inner {
    position: relative;
    border-width: 1px 1px 0 1px;
    border-color: #ececec;
    border-style: solid;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    height: 100%;
  }
}