.modal {
  background-color: #FFF;
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 100%;
  border-radius: 0;
  .close-modal {
    display: none!important;
  }
  &_settings {
    max-width: 550px;
  }
}