.modal-header {
  padding: 25px 0 15px 0;
  &__title,
  &__description {
    padding: 0 40px;
  }
  &__title {
    color: #000;
    font-size: 18px;
  }
  &__description {
    margin-top: 10px;
    color: #9DA2AB;
    line-height: 14px;
    font-size: 12px;
  }
}